kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ .Chart.Name }}
data:
  SPRING_PROFILES_ACTIVE: "{{ .Values.environment }}"
  SPRING_CONFIG_NAME: "application.yaml"
  SPRING_CONFIG_LOCATION: "file:/opt/app-config/application.yaml"